
@{ 
    ViewBag.Title = "Configuración";
}

<div>
    <h2>Configuración.</h2>

    <div class="list-group">
        <a href="/Role/Index" class="list-group-item">
            <i class="fa fa-id-badge"></i> Rol
        </a>
        <a href="/Usuarios/Index" class="list-group-item">
            <i class="fa fa-users"></i> Usuarios
        </a>
        <a href="~/Devolucion/Index" class="list-group-item">
            <i class="fa fa-file-text-o"></i> Devoluciones
        </a>
        <a href="~/Recepcion/Tecnico" class="list-group-item">
            <i class="fa fa-wrench"></i> Recepción Técnico
        </a>
        <a href="~/Recepcion/Bodega" class="list-group-item">
            <i class="fa fa-building-o"></i> Recepción Bodega
        </a>
        <a href="~/Producto/Index" class="list-group-item">
            <i class="fa fa-product-hunt"></i> Productos
        </a>
    </div>
</div>      