@{
    ViewBag.Title = "Carga masiva de excel";
}

<div class="row">
    <div class="col-md-6 form-group">
        <input type="file" id="excelFile" class="form-control" />
    </div>
    <div class="col-md-6 form-group">
        <input type="button" id="btnExcelUpload" value="Cargar Excel" class="btn btn-success" />
    </div>
    <div class="col-md-6 form-group">
        <input type="button" id="WebApi" value="Prueba API" class="btn btn-info" />
    </div>
</div>
