<connectionStrings>
  <add name="AppContext" connectionString="data source=DESKTOP-VTBRO29\SQLEXPRESS;initial catalog=DB_DevolucionesSPK_DEV;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>